<div class="row">
  <div class="col-md-6">
    <button type="button" name="button" id="external-submit" class="btn btn-primary">Save</button>
    <%= link_to "Back", courses_path, data: { confirm: 'Are you sure you want exit? Your changes will not be saved.' }, class: "btn btn-default" %>
  </div>
  <div class="col-md-6 edit-mode">
    You are now in edit mode.
  </div>
</div>



<%= simple_form_for @course do |f| %>

  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1><%= f.input :title, label: false, placeholder: "Course title" %></h1>
  <%= f.hidden_field :content %>
  <%= render "formatting" %>
  <div contenteditable="true" id="course-content-div" placeholder="Course content..."></div>

<% end %>
