<%= simple_form_for @course do |f| %>

  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, label: false, placeholder: "Title" %>
  <%= f.hidden_field :content %>
  <%= render "formatting" %>
  <div contenteditable="true" id="course-content-div" placeholder="Start typing here..."></div>
  <%= f.button :submit, class: "btn btn-primary" %>

<% end %>
