<p id="notice"><%= notice %></p>

<h2><%= @course.title %></h2>

<p>
  <%= simple_format(@course.content) %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
